/* ---------------------------------------------------------------------- BANNER GERAL PARA TODAS AS PÁGINAS ---------------------------------------------------------------------- */
body {
    background: #e2e2e2;
}

.page-banner {
    height: 540px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.banner-overlay h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.banner-overlay p {
    font-size: 24px;
    max-width: 800px;
    line-height: 1.6;
}

/* ---------------------------------------------------------------------- IMAGENS DOS BANNERS DAS PÁGINAS CULTURA, PRATOS, PONTOS E INFORMAÇÕES ---------------------------------------------------------------------- */

.cultura-banner {
    background-image: url("../multimidia/cultura-india-banner.jpg");
}

.turismo-banner {
    background-image: url("../multimidia/pontos-turisticos-banner.jpg");
}

.pratos-banner {
    background-image: url("../multimidia/pratos-tipicos-banner.jpg");
}

.info-banner {
    background-image: url("../multimidia/informacoes-banner.jpg");
}

.historia-banner {
    background-image: url("../multimidia/");
}